  
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-items{
  margin-left: 18rem;
}
.items{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}