  
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-items{
  /* margin-left: 10rem; */
}
.items{
  display: flex;
  align-items: center;
  justify-content: center;
}