  
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-items{
  /* margin-left: 10rem; */
}
.items{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pl-1 {
  margin-left: 10px;
}

.pl-2 {
  margin-left: 20px;
}
.pr-1 {
  margin-right: 10px;
}

.pr-2{
margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}
.user-table {
margin-left: 100px;
  width: 56%;
}
.table-wrapper {
        border: 1px solid black;
}
